<!DOCTYPE html>
<html>
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <div id="main">
      <%- partial('_partial/header') %>
      <div id="content-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/to-top') %>
  </body>
</html>
