<header id="header">
  <div class="site-title">
    <a href="<%- url_for('/') %>"><%- config.title %></a>
  </div>
  <ul class="menu">
    <% site.data.menu.forEach(function(item) { %>
      <li>
        <a class="fa <%- item.icon %>" href="<%- item.url %>" title="<%- item.name %>"></a>
      </li>
    <% }) %>
  </ul>
</header>
