extends partial/layout

block main
  .post-detail
    .post-title= page.title
    .post-meta
      .date
        i.icon.ion-calendar
        = date(page.date, ` ${config.date_format} `)
      .tags
        - page.tags && page.tags.forEach(tag => {
          a(href=url_for(tag.path))
            i.icon.ion-pound
            = tag.name
        - })
    .post-content!= page.content
    .post-nav
      .prev
        if page.prev
          a(href=url_for(page.prev.path))
            i.icon.ion-chevron-left &nbsp;
            = page.prev.title
      .next
        if page.next
          a(href=url_for(page.next.path))
            = page.next.title
            | &nbsp;
            i.icon.ion-chevron-right
